body{
    background-color: white;
}

input[type=text]{
    padding: 10px;
    font-size: 14px;
}

.azul{
    background-color: blue;
    color: #fff;
}

.vermelho{
    background-color: red;
    color: #fff;
}

.verde{
    background-color: green;
    color: #000;
}